header{
	padding: 20px 0 30px;
}
body{
	font-family: 'Open Sans', sans-serif;
    background: #d4d0c4;
}



button.btn.item_submit {
    width: 100%;
    border-radius: 0;
    font-weight: bold;
    background: #f4c000;
    font-size: 16px;
    color: #333;
    border: none;
    line-height: 44px;
}
button.btn.item_submit:hover,
button.btn.item_submit:focus{
	background: #fbc80d;
	box-shadow: none;
	outline: none;
}
.wrapper{
    background: #fff;
    margin: 10px 0 150px;
    padding: 20px;
    border-top-left-radius: 20px;
}
.help {
   
    color: #003c70;
    font-size: 18px;
    font-weight: bold;
    line-height: 56px;
    margin-right: 70px;
}
.help i.fa.fa-info-circle{
    font-size: 30px;
    position: relative;
}
.fa-info-circle:before {
    content: "\F05A";
    position: absolute;
    top: -20px;
}
.account {
    
    color: #003c70;
    font-size: 18px;
    font-weight: bold;
    line-height: 56px;
}
.account .fa,
.help .fa{
    font-size: 14px;
}
.account a,
.help a{
    color: #003c70;
    text-decoration: underline;
}
.big_title{
    background: #003c70;
    font-size: 24px;
    color: #fff;
    margin: 25px 0 0;
    padding-left: 15px;
    line-height: 44px;
}
.lil_title{
    color: #003c70;
    font-size: 24px;
    padding-left: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}
.sticky{
    
    padding-bottom: 30px;
    background: #fff;
    z-index: 999;
}
.points_title{
    color: #28a644;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 5px;

}
.points_detail{
    background: #e8edf0 ;
    height: 36px;
    width: 650px;
    position: relative;
}
.points_detail_score{
    position: absolute;
    left: 0;
    z-index: 2;
    top: 0;
    bottom: 0;
    background: url(../images/points_detail_score.png);
}
.points{
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eeeeee;
    position: relative;
}
.bullets span{
    background: #e27a43;
    height: 7px;
    width: 7px;
    display: block;
    border-radius: 50%;
    margin-bottom: 3px;
}
.bullets{
    position: absolute;
    bottom: 30px;
    right: 0;
    cursor: pointer;
}
.sticky_btns button, .sticky_btns button:focus, .sticky_btns button:active {
    text-align: left;
    margin-right: 10px;
    width: 210px;
    }
    .sticky_btns button span{
        display: inline-table;
        width: 24px;
        line-height: 24px;
        margin-left: 5px;
        color: #fff;
    background: #e47b44;
        border-radius: 50%;
        float: right;
        text-align: center;
    }
    
    .sticky_btns button:hover span,
    .sticky_btns button.active span{
         background: #3f6582 !important;
    }
/*start list*/
.blts span{
    background: #fff;
    height: 7px;
    width: 7px;
    display: block;
    border-radius: 50%;
    margin-bottom: 5px;
}
.list_item {
    padding: 15px;
    background: #406583;
    color: #fff;
    margin-bottom: 2px;
    -webkit-transition: height 0.8s;
	-moz-transition: height 0.8s;
	transition: height 0.8s;
}
.lists2 .his{
    height: 74px;
    overflow: hidden;
}
.list_item_title_lil {
    font-size: 18px;
    font-weight: bold;
}
.lists {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
}
.lists > h2 {
    font-size: 24px;
    color: #004475;
    font-weight: bold;
    padding-left: 15px;
}
.list_item_title {
    font-size: 22px;
    font-weight: bold;
    line-height: 34px;
    margin-bottom: 15px;
    padding: 0;
}
.list_item_cont_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    display: none;
}
.blts.dropleft .dropdown-toggle::before,
.bullets.dropleft .dropdown-toggle::before {
    display: none;
}
.blts.dropleft button:focus,
.bullets.dropleft button:focus,
.blts.dropleft button:active,
.bullets.dropleft button:active,
.blts.dropleft button,
.bullets.dropleft button {
    background: transparent;
    border:none;
    box-shadow: none;
    outline: none;
    padding: 0px;
}
.blts {
    cursor: pointer;
    
    margin-left: 15px;
    padding-top: 4px;
}
.list_item_price {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 5px;
    padding-right: 20px;
}
.list_item_cont {
    margin-bottom: 20px;
}
.btn_registred span{
    margin-right: 5px;
}
.alendar {
    font-size: 28px;
    
    cursor: pointer;
    margin-right: 15px;
    line-height: 38px;
}
.progress{
    height: 36px;
}
.btn i.fa.fa-check {
    margin-right: 4px;
}



/* page 2 */
.overview ul li {
    padding-left: 20px;
    margin-bottom: 10px;
}
.overview {
    background:#d9ead3;
    padding: 15px;
    border: 1px solid #ccc;
    min-height: 100%;
}
.overview > h2 {
    font-size: 18px;
    margin-bottom: 20px;
}
.height{
    height: 50px;
    width: 100%;
}
.form-group.-animated{
    position: relative;
}
.form-group.-animated.-active label, 
.form-group.-animated.-focus label {
    -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  transition-timing-function: ease;
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px0);
    -o-transform: translateY(2px);
    transform: translateY(2px);
  }
  .form-group.-animated .form-control {
    height: 50px;
    padding: 20px 20px 5px;
    font-size: 14px;
    color: #000000;
}
.form-group.labeled .form-control {
    height: 50px;
    padding: 14px 15px 10px;
    font-size: 14px;
    color: #000000;
}
.form-group.labeled label {
    position: absolute;
    left: 25px;
    right: 0;
    top: 0;
    z-index: 0;
    margin-bottom: 0;
    color: #999;
    font-size: 14px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.form-group.-animated label {
    position: absolute;
    left: 20px;
    right: 0;
    top: 0;
    z-index: 0;
    margin-bottom: 0;
    color: #999;
    font-size: 14px;
    -webkit-transform: translateY(14px);
    -moz-transform: translateY(14px);
    -ms-transform: translateY(14px);
    -o-transform: translateY(14px);
    transform: translateY(14px);
  }
  .contact_information_title {
    font-size: 18px;
    margin-bottom: 25px;
}
.shipping_information,
.contact_information {
    margin-bottom: 70px;
    padding: 0 15px;
}
.order-complate {
    padding: 10px 40px;
    background: #fafafa;
    margin-bottom: 40px;
}
.price_details {
    line-height: 30px;
    margin-bottom: 15px;
    padding: 15px 0;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
}
span.total-price-lab {
    color: #000;
    font-weight: bold;
}
span.total-price {
    font-size:20px;
    color: #000;
    font-weight: bold;
}
span.total-price > span{
    font-size: 14px;
    color: #6c757d;
    font-weight: normal;
    margin-right: 5px;
}
@media only screen and (min-width: 992px) {
    .sticky{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding-bottom: 30px;
        background: #fff;
        z-index: 999999;
    }
}
@media only screen and (max-width: 991px) {
    .list_item_conts {
        font-size: 14px;
    }
    
    .sticky_btns {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding:10px 0;
        background: #fff;
        z-index: 999999;
    }
    .points_detail {
        width: 100%;
    }
    
    .points {
        padding-right: 40px;
    }
    .sticky_btns button, .sticky_btns button:focus, .sticky_btns button:active{
        width: auto;
    }
   
    
    
}


@media only screen and (max-width:600px) {
    .logo {
        text-align: center;
        margin-bottom: 20px;
    }
    .sticky_btns button, .sticky_btns button:focus, .sticky_btns button:active {
        text-align: left;
        margin: 0 2px;
        line-height: 18px;
        font-size: 14px;
        padding: 5px ;
    }
    .help {
        
        font-size: 16px;
        margin-right: 40px;
    }
    .wrapper {
        background: #fff;
        margin: 5px 0 20px;
        padding: 0 5px;
        border-top-left-radius: 20px;
    }
    .help i.fa.fa-info-circle {
        font-size: 20px;
        position: relative;
    }
    .fa-info-circle:before {
        top: -15px;
    }
   
    .container{
        padding: 0;
    }
    .account {
        font-size: 16px;
    }
    .user_image img{
        width: 35px;
    }
    .big_title {
        font-size: 20px;
        padding-left: 10px;
    }
    .lil_title {
        font-size: 20px;
        padding-left: 0;
        margin-bottom: 10px;
    }
    .sticky_btns button span {
        width: 18px;
        line-height: 18px;
        margin-left: 2px;
    }
}